<!doctype html>
<html>
 <head>
  <title>Web</title>
  <meta charset="UTF-8">
  <meta name="description" content="Your site's description should be here">
  <meta name="keywords" content="Your site's keywords should be here">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style14.css">
  <!--[if IE 6]>
	<style type="text/css">
		* html .group {
			height: 1%;
		}
	</style>
  <![endif]-->
  <!--[if IE 7]>
	<style type="text/css">
		*:first-child+html .group {
			min-height: 1px;
		}
	</style>
  <![endif]-->
  <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;subset=latin,latin-ext,vietnamese">
 </head>
 <body>
  <div class="global_container_">
   <div class="wrapper">
    <div class="l-unconstrained">
     <div class="l-constrained-2">
      <p class="text">Transaction complete!</p>
      <p class="text-2">Get your cash.<br>Receipt will be sent via email</p>
     </div>
    </div>
    <div class="rectangle"></div>
    <div class="layer-1">
     <img class="group-2" src="images/images-14/group_5.png" alt="" width="454" height="57">
     <div class="line"></div>
     <p class="text-3">Would you like to perform<br>another transaction?</p>
     <div class="group-3 group">
      <div class="rectangle-2">
       <div class="group-holder">
         <a href="/accounts">
          Yes
         </a>
       </div>
      </div>
      <div class="rectangle-3">
       <div class="group-holder-2">
        <a href="/">
          No
         </a>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="l-constrained">
    <p class="text-4">powered by</p>
    <footer class="group-4">
     <img class="group-5" src="images/images-14/group_2.png" alt="" width="21" height="21">
    </footer>
   </div>
  </div>
 </body>
</html>
