<!doctype html>
<html>
 <head>
  <title>Web</title>
  <meta charset="UTF-8">
  <meta name="description" content="Your site's description should be here">
  <meta name="keywords" content="Your site's keywords should be here">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!--[if IE 6]>
	<style type="text/css">
		* html .group {
			height: 1%;
		}
	</style>
  <![endif]-->
  <!--[if IE 7]>
	<style type="text/css">
		*:first-child+html .group {
			min-height: 1px;
		}
	</style>
  <![endif]-->
  <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;subset=latin,latin-ext,vietnamese">
 </head>
 <body>
  <div class="l-constrained">
   <header class="header"></header>
   <img class="zjemoq" src="images/images-1/zjemoq.png" alt="" width="1560" height="705">
   <footer class="footer">
    <div class="row group">
     <a href="login.html"><p class="text">Tap Screen to begin</p></a>
     <div class="col">
      <p class="text-2">powered by</p>
      <div class="gateway-logo">
       <img class="group-2" src="images/images-1/group_2.png" alt="" width="21" height="21">
      </div>
     </div>
    </div>
   </footer>
  </div>
 </body>
</html>
