<!doctype html>
<html>
 <head>
  <title>Web</title>
  <meta charset="UTF-8">
  <meta name="description" content="Your site's description should be here">
  <meta name="keywords" content="Your site's keywords should be here">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style4.css">
  <!--[if IE 6]>
	<style type="text/css">
		* html .group {
			height: 1%;
		}
	</style>
  <![endif]-->
  <!--[if IE 7]>
	<style type="text/css">
		*:first-child+html .group {
			min-height: 1px;
		}
	</style>
  <![endif]-->
  <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;subset=latin,latin-ext,vietnamese">
 </head>
 <body>
  <div class="global_container_">
   <header class="rectangle-holder">
    <img class="group-2" src="images/images-4/group.png" alt="" width="454" height="57">
   </header>
   <div class="l-constrained">
    <p class="text">Enter your PIN</p>
    <div class="col">
     <div class="rectangle">
      <div class="row group">
       <!-- <img class="path-path-path-path-path-path" src="images/images-4/path_path_path_path_path_.png" alt="" width="400" height="39"> -->
      <input type="password" name="psw" class="pincode" maxlength="6">
       <div class="path-holder">
        x
       </div>
      </div>
     </div>
     <p class="text-2">Cover the keypad while you<br>enter your PIN</p>
     <div class="group-3 group">
      <div class="rectangle-2">
       <div class="group-holder">
        <a href="/accounts">OK</a>
       </div>
      </div>
      <div class="rectangle-3">
       <div class="group-holder-2">
        <a href="/">Cancel</a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>
