<!doctype html>
<html>
 <head>
  <title>Web</title>
  <meta charset="UTF-8">
  <meta name="description" content="Your site's description should be here">
  <meta name="keywords" content="Your site's keywords should be here">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style10.css">
  <!--[if IE 6]>
	<style type="text/css">
		* html .group {
			height: 1%;
		}
	</style>
  <![endif]-->
  <!--[if IE 7]>
	<style type="text/css">
		*:first-child+html .group {
			min-height: 1px;
		}
	</style>
  <![endif]-->
  <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;subset=latin,latin-ext,vietnamese">
 </head>
 <body>
  <div class="global_container_">
   <header class="rectangle-holder">
    <img class="group-2" src="images/images-10/group.png" alt="" width="454" height="57">
   </header>
   <div class="l-constrained">
    <div class="main-content-wrapper group">
     <div class="col-2">
      <img class="group-3" src="images/images-10/group_2.png" alt="" width="97" height="64">
      <p class="verifying">Verifying...</p>
      <div class="row group">
       <img class="clip-group" src="images/images-10/clip_group.png" alt="" width="460" height="504">
       <img class="group-4" src="images/images-10/group_3.png" alt="" width="66" height="67">
       <p class="text">Please hold for a moment. Finishing verification process.</p>
      </div>
     </div>
     <p class="text-2">powered by</p>
    </div>
    <footer class="group-5">
     <img class="group-6" src="images/images-10/group_5.png" alt="" width="21" height="21">
    </footer>
   </div>
  </div>
 </body>
</html>
